

    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <%- partial('_partial/post-title', {post: page, index: false}) %>
						<%- partial('_partial/post-date', {post: page, index: false}) %>
                    </div>
                </div>
            </div>
        </div>
    </header>
<section id="blog">	
<div class="container post-content">
	<div class="row">
        <div class="box">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="intro-text text-center" style="padding-top: 10px; padding-bottom: 30px;">
					</div>
					<%- partial('_partial/article', {post: page, index: false}) %>
					<div class="postcategory">
							<%- partial('_partial/post-category', {post: page, index: false}) %>			
					</div>
					<div class="date">
					<%- partial('_partial/post-tag', {post: page, index: false}) %>
					</div>
					
                </div>
        </div>
	</div>	
</section>

<section id="blog" class="blog">
	<div class="container post-content">
        <div class="row">
            <div class="col-lg-12">
				<script id="dsq-count-scr" src="//hexothemes.disqus.com/count.js" async></script>
               <div id="disqus_thread">
					<script>

					/**
					*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
					*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
					/*
					var disqus_config = function () {
					this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
					this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
					};
					*/
					(function() { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = 'https://hexothemes.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript></div>
                            
            </div>
        </div>
	</div>
</section>